pkgbase = python-opensearch
	pkgdesc = Python Client for OpenSearch
	pkgver = 2.7.1
	pkgrel = 2
	url = https://github.com/opensearch-project/opensearch-py
	arch = any
	license = Apache-2.0
	makedepends = python-setuptools
	depends = python-urllib3
	depends = python-requests
	depends = python-dateutil
	depends = python-certifi
	depends = python-events
	source = https://files.pythonhosted.org/packages/source/o/opensearch-py/opensearch_py-2.7.1.tar.gz
	sha256sums = 67ab76e9373669bc71da417096df59827c08369ac3795d5438c9a8be21cbd759

pkgname = python-opensearch
