pkgbase = elasticdump
	pkgdesc = Import and export tools for Elasticsearch
	pkgver = 6.117.0
	pkgrel = 1
	url = https://github.com/elasticsearch-dump/elasticsearch-dump
	arch = any
	license = Apache-2.0
	makedepends = npm
	makedepends = jq
	depends = nodejs>=8.0
	noextract = elasticdump-6.117.0.tgz
	source = https://registry.npmjs.org/elasticdump/-/elasticdump-6.117.0.tgz
	sha256sums = 0a92c731dac0cc5d79ebd34ce8b38dc440bba3be217b55df70221fa986d34480

pkgname = elasticdump
